################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ESFE/FileContentIndex/66ffd486-134b-4bad-bd5f-6d0184768c4a.vsidx
/.vs/ESFE/FileContentIndex/ac2dc1fd-66bd-4d38-9482-0ea2e2cda266.vsidx
/.vs/ESFE/FileContentIndex/b61eaf92-8344-4e45-92e0-9765be10177b.vsidx
